@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url("navigation.css");
@import url("bootstrap-import.css");

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #DFDFDF;
    max-width: 100%;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.004);
    font-size: 100%;
    font-weight: 400;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    color: #101010;
    padding: 5px 0;
    margin: 5px 0;
    display: block;
}
h1{
    font-size: 20px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 14px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    margin-top: 90px;
}

.user {
    margin-top: -35px;
}

.user .name, .user .username {
    font-weight: bold;
}

.toggler {
    color: #a1a1a4;
    font-size: 1.25em;
    margin-left: 8px;
    text-align: center;
    cursor: pointer;
}

.toggler.active {
    color: black;
}

.events {
    list-style: none;
    margin: 0;
    padding: 0;
}

.event-item {
    display: block;
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;
    background: white;
    -webkit-box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
    box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
}

.event-name {
    font-weight: 700;
}

.grid .event-name {
    padding-bottom: 5px;
    border-bottom: 1px solid #EEE;
}

.list .event-name {
    padding: 0px 15px;
    border-right: 1px solid #EEE;
    margin-right: 10px;
}

.list .toolbar {
    padding-left: 10px;
}

.list .toolbar a {
    padding-right: 2px;
    padding-left: 2px;
}

.list .event-item {
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
}

.list .event-item .pull-right {
    position: absolute;
    right: 0;
    top: 0;
}

.list .event-location,
.list .event-description,
.list .event-date,
.list .event-time {
    color: #a1a1a4;
}

.list .event-location,
.list .event-date,
.list .event-name, {
    margin: 0 10px;
}

.list .event-location {
    margin-right: 0;
}

.list .event-date,
.list .event-location,
.list .event-name {
    vertical-align: middle;
}

.list .event-date {
    display: inline-block;
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
}

.list .event-time {
    display: inline-block;
    padding: 0px 10px;
    white-space: nowrap;
}

.list .list-only {
    display: auto;
}

.list .grid-only {
    display: none !important;
}

.grid .grid-only {
    display: auto;
}

.grid .list-only {
    display: none !important;
}

.grid .event-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 250px;
    margin: 10px;
}

.grid .toolbar {
    position: absolute;
    right: 10px;
    top: 5px;
}

.event-name a,
.toolbar a {
    color: #000000;
}

.grid .toolbar .edit {
    padding-right: 5px;
}

.grid .event-name {
    display: block;
    font-size: 16px;
    line-height: 20px;
}

.grid .event-location {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}

.grid .event-location,
.grid .event-date,
.grid .event-time {
    color: #a1a1a4;
    display: block;
}

.grid .event-description {
    display: block;
    position: relative;
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid #eee;
    font-size: 13px;
}

.grid .event-date {
    font-size: 12px;
    line-height: 20px;
}
.grid .event-time {
    font-size: 12px;
    line-height: 20px;
}

.whiteline {
    content: '\A';
    display: block;
}

.list-seperator {
    content: '-';
    padding: 0px 10px;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

.event-icon {
    margin-right: 5px;
    color: #A1A1A4;
}

.addEventForm {
    display: block;
    max-width: 650px;
    border: 1px solid #CBCBCE;
    padding: 0px 10px;
}

.addEventForm h3{
    border-top: 1px solid #E7E7E7;
}

.addEventForm h3:first-child{
    border-top: none;
}

.startDateTime, .endDateTime {
    display: inline-block;
    width: 100%;
}

.startDateTime div, .endDateTime div {
    float: left;
    width: 50%;
    text-align: center;
}

.addEventForm input {
    width: 100%;
}

.addEventForm #eventEndDateCheckbox{
    width: 20px;
}

.addEventForm input:hover, .addEventForm input:focus{
    box-shadow: 0px 0px 10px #0081C9;
    -moz-box-shadow: 0px 0px 10px #0081C9;
}

.addEventButton{
    color: #FFF;
    background-color: #0160AE;
    border-color: #285E8E;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin: 10px auto;
}

.addEventButton:hover{
    background-color: #0081C9;
    box-shadow: 0px 0px 10px #0081C9;
    -moz-box-shadow: 0px 0px 10px #0081C9;
    border-color: #1b63a9;
}

.startDateTime div input, .endDateTime div input {
    width: 75% !important;
}

@media screen and (max-width: 600px) {
    .list .event-item .pull-right {
        position: static;
        line-height: 20px;
        padding-bottom: 10px;
    }

    .grid .event-item {
        display: block;
        width: auto;
        height: 150px;
        margin: 10px auto;
    }
}

@media screen and (max-width: 450px) {
    .startDateTime div, .endDateTime div {
        float: none;
        width: 100%;
    }
}